public filter=lfs diff=lfs merge=lfs -text
public/ssd300 filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
public/ssd300/FP32/ssd300.bin filter=lfs diff=lfs merge=lfs -text
